{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href={% static "icons/beaker.ico" %}>
    <title>Traveler's Guide!</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/travelnotes.css" %}" rel="stylesheet">

  </head>

  <body>

    <div class="travelnotes-masthead">
      <div class="container">
        <nav class="travelnotes-nav">
		  	  {% block navigation_bar %} {% endblock %}
        </nav>
      </div>
    </div>

    <div class="container">

	  {% block main %} 
	  {% endblock %}
		
		<br>
    </div><!-- /.container -->

    <div class="travelnotes-footer">
      <p>Template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/bootstrap.min.js" %}" ></script>
    <script src="{% static "js/docs.min.js" %}"></script>
  </body>
</html>