{% extends "base.html" %}

{% block navigation_bar %} 
	  <a class="travelnotes-nav-item" href={% url 'noteboard:main' %} >Home</a>
	  <a class="travelnotes-nav-item" href={% url 'noteboard:CitiesView' %}>Cities</a>
{% endblock %}
	  
{% block main %} 
	
	<div class="travelnotes-header">
	<h1 class="travelnotes-title">City: {{ city.name }}</h1>
	<h2> Country: {{ city.country }} </h2>
	</div>

	<br>

	{% for post in posts_list %}
		<div class="boxed">
			<h3> Title: {{ post.title }} </h3>
				Poster: {{ post.user }}   Created: {{ post.created }}  
				<br><br>
			<h4> {{ post.body }} </h4>
		</div>
		<br>
	{% endfor %}
		
	<br>
		  
{% endblock %}