{% extends "base.html" %}

{% block navigation_bar %} 
	  <a class="travelnotes-nav-item" href={% url 'noteboard:main' %} >Home</a>
	  <a class="travelnotes-nav-item active" href={% url 'noteboard:CitiesView' %}>Cities</a>
	  <a class="travelnotes-nav-item" href={% url 'noteboard:about' %}>About</a>
{% endblock %}
	  
{% block main %} 
	
	<div class="travelnotes-header">
	<h1 class="travelnotes-title">City: {{ city.name }}</h1>
	<h2> Country: {{ city.country }} </h2>
	</div>

	<br>

    <section id="update_modal" class="modal fade">
        <div class="modal-body">
            <form action="{% url 'noteboard:update' %}" method="post">
                <input type="hidden" id="hid" name="hid" value=0>
                <input type="hidden" id="hid_city" name="hid_city" value=0>
                <span id="close_update" onclick="close()" class="glypicon glyphicon-remove-circle pull-right"></span>
                {% csrf_token %}
                <input type="hidden" name="views" value="city" />

                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="update_title" type="text" class="form-control" name="title" value="" required>

                    <label for="title">Body</label>
                    <input id="update_body" type="textarea" class="form-control" name="body" required>
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </section>

	{% for post in posts_list %}
		<div class="boxed">
			{% if user.id == post.userid %}
			<form action="{% url 'noteboard:delete' id=post.pk cityid=post.city.id%}" method="post">
				{% csrf_token %}
				<button class="btn btn-primary pull-right"> Delete </button>
                <input type="hidden" name="views" value="city" />
			</form>
            <button class="btn btn-primary pull-left update" onclick="test({{ post.id }}, '{{ post.title }}' ,'{{ post.body }}', {{post.city.id}})"> Edit </button>

			{% endif %}
			<h3> Title: {{ post.title }} </h3>
			<center>
					Poster: <a href={% url 'noteboard:UserView' pk=post.userid %}>{{ post.user }}</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					City: <a href={% url 'noteboard:CityView' pk=post.city.id %}>{{ post.city }}</a><br>        
					Created: {{ post.created }}  
					<br><br>
				<h4> {{ post.body }} </h4>
			</center>
				
		</div>
		<br>
	{% endfor %}
		
	<br>
		<script>
		function test(id, title, body, city_id) {
			$("#update_modal").modal({show:true});
            $("#hid").val(id);
            $("#hid_city").val(city_id);
			document.getElementById("update_title").value = title;
			document.getElementById("update_body").value = body;
		}

		$(document).ready(function(){

			$("#close_update").on('click', function() {
				$("#update_modal").modal('hide');
			});
		});
	</script>
{% endblock %}