{% extends "base.html" %}

{% block navigation_bar %} 
	  <a class="travelnotes-nav-item" href={% url 'noteboard:main' %} >Home</a>
	  <a class="travelnotes-nav-item" href={% url 'noteboard:CitiesView' %}>Cities</a>
{% endblock %}
	  
{% block main %} 
	
	<div class="travelnotes-header">
	<h1 class="travelnotes-title">City: {{ city.name }}</h1>
	<h2> Country: {{ city.country }} </h2>
	</div>

	<br>

	{% for post in posts_list %}
		<div class="boxed">
			{% if user.id == post.user.id %}
			<form action="{% url 'noteboard:delete' id=post.pk%}" method="post">
				{% csrf_token %}
				<button class="btn btn-primary pull-right"> Delete </button>
			</form>
			<button class="btn btn-primary pull-left update" onclick= test("{{ post.id }}","{{ post.title }}","{{ post.body }}")> Edit </button>
			{% endif %}
			<h3> Title: {{ post.title }} </h3>
			<center>
					Poster: <a href={% url 'noteboard:UserView' pk=post.user.id %}>{{ post.user }}</a> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					City: <a href={% url 'noteboard:CityView' pk=post.city.id %}>{{ post.city }}</a><br>        
					Created: {{ post.created }}  
					<br><br>
				<h4> {{ post.body }} </h4>
			</center>
				
		</div>
		<br>
	{% endfor %}
		
	<br>
		  
{% endblock %}