<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> 
	<title>Input Stuff</title>
</head>

<body>
    <div>
		<h3>Post</h3>
		<form action= {} method="post">
			<label>Add Post: </label>
			<input type="text" name="Title"><br>
			<input type="text" name="Category"><br>
			<input type="text" name="Text Body"><br>
			<input type="submit" value="OK">
		</form>
    </div>
	
	{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li><a href="/noteboard/{{ post.id }}/">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
    <p>No posts are available.</p>
	{% endif %}

</body>
</html>