{% extends "base.html" %}

{% block navigation_bar %} 
	  <a class="travelnotes-nav-item" href={% url 'noteboard:main' %} >Home</a>
	  <a class="travelnotes-nav-item" href={% url 'noteboard:CitiesView' %}>Cities</a>
{% endblock %}
	  
{% block main %} 
	
	<div class="travelnotes-header">
	<h1 class="travelnotes-title"> Username: {{ user.username }}</h1>
	
	</div>
	<br><br><br>

	{% for post in posts_list %}
		<div class="boxed"> Title: {{ post.title }} </div>
		<br>
	{% endfor %}
		
	<br>
		  
{% endblock %}